[2020-04-22 19:10] kedder opened #3 "Release 0.3.1"
Please release a new version of `variod` - 0.3.1 with 35f5a75474dc820749531b862ba248b5c96bae62 in it. We need it to ship "stable" `openvario-image`

[2020-04-24 13:13] linuxianer99 commented on #3
done !! :-)

[2020-04-24 13:13] #3 closed

[2020-04-27 07:16] bomilkar opened #5 "how are the 3 processes supposed to behave?"
If everything is going well, there are 3 processes running: xcsoar, variod, sensord.
They talk with each other through ports. So far so good.
But what is supposed to happen if one of them stops?
Or is there a particular sequence in which the 3 have to start?
I have not seen any documentation on this. Can someone point me at it? Or tell me what the original plan was?

If there is no documentation o

[2020-04-27 08:30] kedder commented on #5
I think it is better not to assume any particular start order - sensord and variod are services managed by systemd, so systemd is allowed to start and restart them at any time (e.g. if they die or if user asks to do that).  Both of these services should be able to gracefully handle missing or dropped connections from their peers.

[2020-04-30 08:36] #5 closed

[2020-04-30 08:55] bomilkar opened #7 "testbench for variod"
I've been testing variod quite a bit over the past couple of days. One of the issues I came across is the lack of a (reproducible) test environment. For instance a testbench including a stimulus generator and a results analyzer. I have written a simple tool which sends $POV,E,-1.76,P,955.24,Q,658.00*3A sentences. But that's not quite enough for a (semi)automated testbench.

It occurred to me I mig

[2020-04-30 12:49] kedder commented on #7
This is something I miss a lot in variod. In general - ability to test variod on your laptop without having to mess with openvario hardware.

[2020-04-30 15:31] bomilkar commented on #7
I think we should have an extra repository: Openvario/variod-testbench
I can upload what I got as initial revision. And everybody is free to add, divert, ...
For now, it's just a handful of files. But that can quickly change.

[2020-04-30 15:34] kedder commented on #7
To me extra git repo looks like an overkill, I think it can live inside this project, in a separate dir, if you want.

[2020-04-30 17:07] bomilkar commented on #7
An extra dir sounds fine.
I'll do it as soon as I have something useful.

[2020-04-30 17:12] linuxianer99 opened #8 "Ready for next release ??"
@kedder , @bomilkar :

Do you think it makes sense to have another release (0.3.2) of variod ??

Are there breaking things to the last release ?
To be honest, there where so much changes in that PR ....

[2020-04-30 17:37] kedder commented on #8
There is one outstanding issue being discussed in #4, related to muting the audio, so probably there might be another PR coming up. But in general I've nothing against cutting a new version, if that is useful.

[2020-04-30 17:43] iglesiasmarianod commented on #8
Hi guys, please let me try an alternative to the muting problem.
I'll test it ASAP.

[2020-04-30 17:46] linuxianer99 commented on #8
Take your time !!!
We are not in a hurry :-)

[2020-04-30 18:01] bomilkar commented on #8
It's good to go from my perspective.
However, it would be nice to wait until XCSoar has https://github.com/XCSoar/XCSoar/pull/378 merged.

[2020-04-30 18:13] iglesiasmarianod commented on #8
Guys, created #9 to solve muting problems.
Tested and worked in my device.
Please build and check before merge.

[2020-05-01 11:17] bomilkar commented on #7
Here is my first stab at it: https://github.com/Openvario/variod/pull/10

[2020-05-01 11:18] bomilkar commented on #7
@iglesiasmarianod you might find this useful to pin down the issue(s) you are currently chasing.

[2020-05-07 11:26] bomilkar commented on #7
Created a new and clean PR for it: https://github.com/Openvario/variod/pull/12

[2020-05-08 13:48] bomilkar opened #14 "deal with incomplete and/or multiple NMEA sentences from recv()"
If you don't believe we need to prepare for the case when recv() returns a buffer with more
than 1 NMEA sentence or the last sentence in the buffer is incomplete, then we should discuss it here instead of in https://github.com/Openvario/variod/pull/13

It's easier (for me) to keep track of all the discussions that may arise.

[2020-05-09 21:52] iglesiasmarianod opened #15 "Vario sound not responding to vario changes"
Vario sound stays beeping at a fixed lift value while vario values change.
Warrior image compiled including all latest commits.

[2020-05-10 21:25] condoratberlin opened #16 "STF Sound not working correctly"
While my first test flight I tested the stf mode on my Openvario, build with the newest XCSOAR from 4.5.2020 and equivalent variod from the same date. The pulsaudio driver seems to be used.
The vario mode works good, but by switching to STF(Speed to fly) mode their is only a continouse noise, not changing by different climb values or speeds.

[2020-05-10 21:31] kedder commented on #15
@iglesiasmarianod can you find the commit that introduced the regression?

[2020-05-10 22:17] iglesiasmarianod commented on #15
Hi @kedder, yes sure.
I'll start with the last release (0.3.1) and test from there.

[2020-05-11 16:25] iglesiasmarianod commented on #15
Hi @kedder, variod starts failing after this two commits, the first needs files introduced in the second.

5d294f63f1c7196b86feb39197eee2b68b06d857
a2ed08fb98b33bb27b95096ff91b2041ed8cd95e

[2020-05-11 19:27] kedder commented on #15
@bomilkar, do you have an idea how these commits could have caused this issue?

[2020-05-11 19:38] kedder commented on #7
@bomilkar  can we close this?

[2020-05-11 19:51] kedder commented on #16
I wonder if this related to #15

[2020-05-11 21:53] bomilkar commented on #15
The filename NMEAchecksum was changed to nmea_checksum later among other changes.
I don't know what happens if you revert commits which have been overridden later on.
@kedder you probably recall: you suggested to follow naming conventions and coding style.
I'd like to see the status of all files, namely variod.c

Is STF sound failing, or is the sound failing altogether?

[2020-05-11 21:56] #7 closed

[2020-05-11 22:32] iglesiasmarianod commented on #15
I didn't revert commits, I started applying them in the order they were applied in the repo history from the last working version. Sound detaches from vario needle when applying those commits.
I believe `set_audio_val(sensors.e);` is not getting `(sensors.e);` or not getting the value correctly,
`parse_NMEA_sensor()` gets these values and is the change introduced by these commits.

[2020-05-12 02:47] bomilkar commented on #15
If it only affects STF sound then it might be the polar coming from XCSoar.
It seems as if stf.c is expecting the polar in units of km/h (for the horizontal speed).
XCSoar uses m/s.
Please try to apply the attached patch which converts from m/s to km/h

[0001-polar-units-from-m-s-to-km-h.patch.txt](https://github.com/Openvario/variod/files/4613099/0001-polar-units-from-m-s-to-km-h.patch.txt)

[2020-05-12 02:51] bomilkar commented on #15
When you compare the default values in stf.h with what you seen in /variod.log when changing the polar, then the units are definitely incompatible.
Set the polar in XCSoar to ASW-24 and you get pretty close to these values:
#define POL_A 0.000164
#define POL_B -0.025714
#define POL_C 1.668750

[2020-05-12 03:18] iglesiasmarianod commented on #15
Please read the subject of this issue.
Stf is another issue opened. Please don't mix issues.
The problem is to do with vario sound, not STF.
Andrey just mentioned it because it might be ralated.

[2020-05-12 04:59] iglesiasmarianod commented on #15
Just tried this quick and dirty:

[code]

1) Increased buffer from 100 to 2001. The suspected commit reduces it from 2001 to 100.
2) Commented both lines checking string length and checksum that were added by this commit.

Vario Sound works again.
What's left to find out is if the buffer is too small or the checksum verification is failing.
Too late here to go on. I'll take a look tomorrow night.

[2020-05-12 06:37] bomilkar commented on #15
Both `parse_NMEA_sensor()` and `parse_NMEA_command()` expect one sentence at a time, as it is clearly stated. If strlen(message) is more than 100, it's a clear indication that it is more than one sentence.

Maybe you should look at variod.c to see if the parse functions are really called one sentence at a time. You probably removed commit https://github.com/Openvario/variod/pull/10/commits/985bd69

[2020-05-12 07:21] bomilkar commented on #15
I can reproduce the problem. I think the vario data doesn't propagate to the "sound machine".
I see the vario needle moving, which means the data comes from sensord to variod and is passed on to XCSoar. variod parses the NMEA sentences correctly.
But the sound doesn't change.
I don't understand how the audio is being synthesized and how the vario value is supposed to be delivered to the sound synt

[2020-05-12 20:28] linuxianer99 commented on #15
Think there is also a mistake with `strlen()` in nmea_parser.c line 34:

	unsigned int len = strlen(message);
	if (len >= sizeof(buffer)) return; // sentence longer than expected

	if (!verify_nmea_checksum(message)) return; // checksum error

	// now it's checksum clean we don't want checksum to be mistaken as value
	nmea_chop_checksum(message);

	// copy string and initialize strtok function
	st

[2020-05-12 20:39] kedder commented on #15
Hm, I think `strlen` should count all chars until the `\0` terminator, including `\n`, if I'm reading this right: https://en.cppreference.com/w/c/string/byte/strlen.

[2020-05-12 20:44] linuxianer99 commented on #15
Hmm ... This here says no termination character included:
[https://www.tutorialspoint.com/c_standard_library/c_function_strlen.htm](https://www.tutorialspoint.com/c_standard_library/c_function_strlen.htm)

[2020-05-12 21:25] kedder commented on #15
I believe `\n` is not considered a "termination character". In C strings are null-terminated.

[2020-05-12 21:39] bomilkar commented on #15
Yes, it's a mistake. It should say:
[code]
Same mistake in line 82.
This will take care of strncpy(). But this isn't a problem since chopping off the checksum reduced the actual length by 3 or 4 chars.

It should never hit line 50 because ptr will be NULL if it hits the end of the chopped sentence.
`ptr = strtok(NULL, delimiter);`

BTW: have you figured out how the actual data (IAS and vario) are

[2020-05-12 21:45] kedder commented on #15
@bomilkar I don't think this has anything to do with passing data it to sound synthesizer. At least there is nothing about it in a commit that introduces the regression (5d294f63f1c7196b86feb39197eee2b68b06d857).

[2020-05-12 21:46] bomilkar commented on #15
You should integrate https://github.com/Openvario/variod/pull/13
with this https://github.com/Openvario/variod/pull/13/commits/955541622e5767c4a6d7c8b2d0a860faa22d8cec
The point of function `multi_sentence_clean()` is to make each sentence '\0' terminated. No '\n', no '\r' or multiples of it. Each sentence has the same form when it's handed to the parser function.

[2020-05-12 21:54] bomilkar commented on #15
@kedder , this https://github.com/Openvario/variod/commit/5d294f63f1c7196b86feb39197eee2b68b06d857 has been overwritten by https://github.com/Openvario/variod/pull/4/commits/b80e9f4c41f690a33e54ee89715c2569110e6c12 and this https://github.com/Openvario/variod/pull/4/commits/bf5675d2767e59e2d78c3350dd83ff0ea89531ae

Either you remove all 3 commits or none of them.

[2020-05-12 22:11] iglesiasmarianod commented on #15
I believe the problem is parse_NMEA_sensor() returning before passing the value to sensor.e.
It has nothing to do with the synthesizer.
I think `parse_NMEA_sensor()` exits here:

[code]
I'll log `len` and `verify_nmea_checksum()` to confirm.

[2020-05-12 22:25] bomilkar commented on #15
I'm watching the values coming from the parser at variod.c line 341:

[code]
This looks reasonable: sensors.q and sensors.e are updated from the parser. And these values are passed to set_audio_val() .
Hmmm ....

[2020-05-12 22:46] bomilkar commented on #15
I think I have a trace:
Looking at the logfile /variod.log I'm missing these 2 lines
[code]

This lines used to be there. Why are they missing?

[2020-05-12 22:56] bomilkar commented on #15
And when I run it on **Debian** (with sensord_mock) it all runs fine.
Has something changed in the OS infrastructure recently?

[2020-05-12 23:06] iglesiasmarianod commented on #15
Checked the error.

len is 2000, buffer is 100, thus exiting there.

Didn't want to mention this here because it might be the subject of another issue, but the same buffer reduction was applied to parse_NMEA_command and this isn't working either.

I propose increasing the buffer size to the value it had before the commit.
 I think solves the `if (len >= sizeof(buffer)) return; // sentence longer t

[2020-05-12 23:39] iglesiasmarianod commented on #15
After increasing buffer to 2001 `if (!verify_nmea_checksum(message)) return; // checksum error` fails.
So, both checks are failing.
Next task is finding out why checksum is not working.

[2020-05-13 07:01] bomilkar commented on #15
Here is another point which supports the assumption, that the OS infrastructure might be the fault.

I loaded the 20115 image from
https://github.com/Openvario/meta-openvario/releases

**On this platform any recent version of variod works and produces the sound as expected.**
Next I will look into audiovario.c to see how the connection with pulseaudio is established. Does anybody have a prototype

[2020-05-13 08:01] bomilkar commented on #15
I did a "repo syn" this morning to make sure I get the latest. And double checked that `variod-testing_git.bb` has no local patches.
From that I copied the variod executable to /opt/bin of 20115.
**And the sound is just fine!**

So what has changed since 20115?
I'm lead to believe that the pulseaudio daemon is working right on newer images. How can we narrow this down?

[2020-05-13 08:06] bomilkar commented on #15
Just an other observation:
Looking at the Ethernet socket of Cubie board I see the amber light flashing as soon as sound is active.
I don't understand why sound creates traffic on the network. Shouldn't it stay local?

[2020-05-13 08:42] linuxianer99 commented on #15
Just one comment to "repo sync":
This pulls only the layers of the openembedded build system. Not the repos from the recipes which are built during "bitbake openvario-image" !
The recipes pull their source any time the recipe is build.

This means:
If you want to build an bleeding edge image, the way should be:

1. bitbake variod-testing -c cleanall
2. bitbake variod-testing
3. bitbake openvario-i

[2020-05-13 08:56] kedder commented on #15
@bomilkar, 5d294f6 is what changed since 20115. Before that commit sound worked, after that commit sound stopped working properly (according to @iglesiasmarianod, didn't check myself). This is a clear indication that that your commit contains a regression. It is clearly has nothing to do with OS infrastructure, sound synthesis or ethernet socket. The bug is introduced in these few changed lines th

[2020-05-13 12:40] bomilkar commented on #15
@kedder
1. I was following a wrong path: pulseaudio does work, also in what I have as the latest master. I take back what I speculated about OS infrastructure.

2. please look at https://github.com/Openvario/variod/commit/5d294f63f1c7196b86feb39197eee2b68b06d857 this is stale. For instance the file NMEAchecksum.h doesn't even exist anymore. It's been renamed and the indentation style was changed.

[2020-05-13 12:48] bomilkar commented on #15
@iglesiasmarianod : if parse_NMEA_sensor() needs 2000+ chars as buffer, this is a clear indication that it gets more than one NMEA sentence. This will not work. It expects one sentence at a time. And they are never longer than 100 chars.
And verify_nmea_checksum() will fail if the sentence has a '\n' at the end. The checksum field must end immediately before the '\0'.  Look at the code line 44:
if

[2020-05-13 12:56] bomilkar commented on #15
@linuxianer99
How can I "un-merge" https://github.com/Openvario/variod/pull/4 and merge #13 ?
I want to test the result locally. They both are based on master and try to achieve the same thing.

[2020-05-13 13:04] kedder commented on #15
@bomilkar please make a new PR that fixes this particular issue, I suggest not merging #13 before we fix this, because it is a completely different issue, it is substantially large and can introduce other bugs, that could be difficult to attribute.

[2020-05-13 13:13] kedder commented on #15
There is no stale commits. This commit is a part of the git history. Applying 5d294f6 and a2ed08f on known-good version introduces the bug described here.

Yes you can. This is why commits need to be self-contained and well scoped.  I do not propose to revert this particular commit here though. I propose to leave it as it is, but use it to spot the problem (since it was introduces by it) and fix i

[2020-05-13 13:27] iglesiasmarianod commented on #15
@bomilkar these are my thoughts about the points you mention:

1) Pulseaudio problem: XCSoar sound gets to the speaker OK, vario sound gets to the speaker OK. You can hear sound coming from XCSoar over variod output. It seems pulseadio is not the problem.

2) What changed since 20115 (apr 24th image): sensord changed. This issue became evident after we fixed sensord disconnections. If I go back to

[2020-05-13 14:01] bomilkar commented on #15
@kedder
I can't reproduce the problem. Here is what I did:
1. in github I restored my branch fix-variod-XCSoar-protocol
2. then locally:
git clone git://github.com/bomilkar/variod
cd variod/
git checkout fix-variod-XCSoar-protocol
git pull
make
./variod -f -d2 -c /opt/conf/variod.conf

The above is all on my debian. Does this look OK? Is this what you did to see the issues?

[2020-05-13 14:15] bomilkar commented on #15
@iglesiasmarianod

YES PLEASE! I've been asking this for a while.
Ideally we should be able to test it on a debian desktop machine before we test it on the target.

[2020-05-13 14:34] bomilkar commented on #15
@linuxianer99
This means:
If you want to build an bleeding edge image, the way should be:

    bitbake variod-testing -c cleanall
    bitbake variod-testing
    bitbake openvario-image-testing

Understand, but how can I go back after https://github.com/Openvario/variod/pull/4 has merged?
That should be identical to the status of my branch fix-variod-XCSoar-protocol . Right?

[2020-05-13 17:47] linuxianer99 commented on #15
@kedder , @bomilkar @iglesiasmarianod :

As variod version 0.3.1 is working well, i will go back to this commit with the master branch.
I will save the actual code in a different branch.

After we have tested 0.3.1 and came to a positive result, we can isolate the different features and merge them step by step after every feature is tested well.

We should avoid a lot of changes for different feat

[2020-05-13 19:52] iglesiasmarianod commented on #15
I Agree.

[2020-05-13 20:30] kedder commented on #15
IMO revert back to 0.3.1 is a bit of a brutal measure :) I still believe this can be fixed easily if reproduced. After all, @iglesiasmarianod suggested the solution that works (restore the size of the `buffer` back to 2000), we can just apply it.

@bomilkar, do you think that would make sense?

[2020-05-13 20:42] linuxianer99 commented on #15
I agree it is a brutal measure, but i think we should have highest priority on stable software instead of quick features.
Specially variod has lot of changes on different functions/bugs which are difficult to trace ...
I suggest to do smaller commits for each function/fix. This make things more easy to review.
Also i suggest to do more testing before we merge things in the main branch.

[2020-05-13 20:44] linuxianer99 commented on #15
By going back to 0.3.1 we do not loose the code, but we can cut the changes in smaller pieces and review and test them in a more structured way ...

[2020-05-13 21:43] bomilkar commented on #15
For me the biggest issue is that I can't reproduce what you are seeing. So finding a common base from where to start is key.
We can quickly introduce the features on that new start point because by now, we know quite well which features are needed.
An other key point in my mind: more testing. That includes testbench, testvectors, and if at all possible testing on a workstation not on the target. T

[2020-05-14 08:31] kedder commented on #15
Okay, I'm fine with resetting the branch then. And I agree, we need to invest some time in unit testing and testing tools.

[2020-05-14 16:33] iglesiasmarianod commented on #16
Hi @condoratberlin, perhaps my question is trivial.
Did you have correct IAS indication in XCSoar?
Did it show a value or "---"?

[2020-05-14 20:09] linuxianer99 commented on #15
Okay. master is at version 0.3.1
The original code is in master-backup.

@bomilkar, @kedder  : Maybe we can make small and clear commits to get function by function back to the master branch.
Suggest we do tests for every new feature to be sure, that all is working fine.

[2020-05-14 20:12] linuxianer99 opened #17 "Adding git version hash to variod version string"
Think it is a good idea to add the git hash version to the variod version for testing variant.

At the moment it is difficult to say on which git hash variod-testing is built.

[2020-05-14 21:26] bomilkar commented on #15
@linuxianer99 :
Can't we use a solid linting tool (like Coverity integrated in github) and clean the existing code base before any functional changes? variod's code base is very small. I'm sure we can clean it up in a few days.
All new code must be clean before it's merged.
That should eliminate some of the issues we've seen.

@kedder : do you want to write a Python testbench?

[2020-05-14 22:03] kedder commented on #15
I can try to. Shouldn't be terribly difficult.

[2020-05-15 06:24] bomilkar commented on #14
I close this now that we restart.
Maybe reopen when we get there.

[2020-05-15 06:24] #14 closed

[2020-05-15 06:37] bomilkar opened #18 "support RPO sentence"
XCSoar sends polar coefficients to vario. The sentence we are most interested in deals with the real polar. That is the polar after degradation to account for bugs etc. and after applying the load_factor. So these coefficients are ready to use by STF.
The sentence is described here:
https://www.openvario.org/doku.php?id=projects:series_00:software:nmea
under "Real Polar".

An example:
$POV,C,RPO,0

[2020-05-15 06:38] bomilkar commented on #18
I will implement this (and only this) unless someone objects.

[2020-05-15 12:34] linuxianer99 commented on #15
@bomilkar I will have a look regarding Covertiy as well as CI for testing with CircleCI or Travis.

@kedder : I would also vote for the python testbench. Maybe we can use a framework like Robot framework https://robotframework.org/  ?

[2020-05-15 12:51] bomilkar commented on #18
Addressed in https://github.com/Openvario/variod/pull/19

I had to fix one bug in stf.c line 50 in order to succeed testing STF.
Other than that, only minimal changes were applied.

Please continue testing! (Honest) feedback appreciated!

[2020-05-15 18:16] bomilkar opened #20 "make NMEA parser more robust"
Both parse_NMEA_sensor() and parse_NMEA_command() can easily run into Segmentation Fault.
Look at the code and think what happens if you send parse_NMEA_sensor() a sentence (fraction) like this:
$POV,E,Q,E,Q
It will run into a Segmentation Fault when it reaches the end of the line.
Similarly for parse_NMEA_command() when it receives
CC,M

I think variod should avoid Segmentation Faults if at all p

[2020-05-15 20:04] kedder commented on #15
I'm not familiar with robot framework, but it looks interesting. I'd start with something simple though, like synthetic replacement for sensord daemon.

[2020-05-15 20:10] iglesiasmarianod commented on #15
Hi guys I've recorded a couple of minutes of sensor data.
I can make a larger file and upload it if you think it is useful.
Where do you think it is the best place to upload it?

[2020-05-15 20:12] kedder commented on #15
@iglesiasmarianod, just attach it here

[2020-05-15 20:13] iglesiasmarianod commented on #15
Perfect. I'll upload it as soon as I get home.

[2020-05-16 00:39] iglesiasmarianod commented on #15
This is the log recorded with sensord. If more samples are needed you only need to ask.

[sensordata.log](https://github.com/Openvario/variod/files/4637580/sensordata.log)

[2020-05-16 06:48] bomilkar commented on #15
Nice. It reveals some issues in sensord.
The simplest way to spot them: run "nc -l -p 4353" in one window and run sensord in another.

[2020-05-16 09:18] linuxianer99 opened #21 "Use static code analysis to improve code quality"
To improve the code quality and avoid coding mistakes, it is a good idea to use some SCA tool.

For opensource projects a lot of the commercial tools can be used for free:

for example:

- Codacy
- Synopsys Coverity

If this is combined with the CI capabilities of Github, every PR can be checked in advance. ..

[2020-05-16 09:21] linuxianer99 commented on #21
@kedder , @bomilkar
I implemened codacy, as it is much easier to implement as coverity.
Please have a look here in the attached images ..

![2020-05-16 11_14_59-Window](https://user-images.githubusercontent.com/774006/82116072-2c5dec80-9767-11ea-84b8-bfe900378a31.jpg)
![2020-05-16 11_19_37-Window](https://user-images.githubusercontent.com/774006/82116071-2bc55600-9767-11ea-881a-42e7851b268f.jpg)

[2020-05-16 09:22] linuxianer99 opened #22 "Run automatic software tests for every PR using CI"
To get more stable code, automated software test have to pass for each PR before merge.
This can be checked automatically using the github CI.

[2020-05-16 09:22] linuxianer99 opened #23 "Create automatic software tests for variod"

[2020-05-16 10:07] linuxianer99 commented on #15
I created issues for all the topics discussed is here.
Please lets discuss the things is the correct issues:

sensord automatic tests => https://github.com/Openvario/sensord/issues/10

Automatic tests for variod => #23

This is the issue is just as the name says:
`Vario sound not responding to vario changes`

[2020-05-16 10:58] kedder commented on #21
@linuxianer99 looks great to me! Definitely better than nothing! :)

[2020-05-17 02:58] iglesiasmarianod commented on #15
Is it OK if I close this issue?

[2020-05-17 07:55] linuxianer99 commented on #15
@iglesiasmarianod  for me ok.
We can base on the actual testing versions and have a look are still the bugs ... than open issues ;-)

[2020-05-17 21:32] #15 closed

[2020-05-18 08:09] bomilkar opened #25 "OpenVario freezes in flight"
In 2 of 3 flights with the new image (version 20130 for 7" Texim) I experienced a system freeze which I had never seen with the old image in 300+ hours of flight time. I tried 2 different SD-Cards (with the same image): no difference.

**My configuration:**
SteFly system with adapterboard, without sensorboard
FLARM on ttyS1, e-vario on ttyS2 ($POV,E,0.58,P,944.33,Q,570.83*1E sentences 2 per second

[2020-05-18 08:11] bomilkar commented on #25
It's probably the wrong place here. I'll post it in meta-openvario.

[2020-05-18 08:11] #25 closed

[2020-05-18 11:31] #17 closed

[2020-05-18 14:47] linuxianer99 commented on #23
@kedder : How can we integrate these tests into Github CI ?

Think there should be a way to start the tools with one single command and got a result back after the test.

[2020-05-18 14:52] kedder commented on #23
There is no tests yet, the tool I made so far is for "manual" testing - so I can squeeze some sound from the variod on my laptop (without real sensord). Once we have some automated tests, it should be pretty easy to integrate them with CI.

[2020-05-18 18:08] linuxianer99 commented on #23
@kedder : What do you think about Mock testing ??
Think this solves our problem with I2C and the missing hardware.
One method can be cmocka.
Example is here: https://www.samlewis.me/2016/09/embedded-unit-testing-with-cmocka/

[2020-05-18 19:38] kedder commented on #23
@linuxianer99, I think mocking i2c might only be relevant for testing sensord. Input for variod is NMEA stream, and output is NMEA too, so no harware mocking is really needed here.

[2020-05-18 20:01] linuxianer99 commented on #23
@kedder : you are right regarding I2c. But i think we should use just one test framework for both apps.

[2020-05-18 20:06] kedder commented on #23
I don't disagree. I don't have any experience with unit testing C programs, so I don't have a strong opinion here.

[2020-05-18 20:10] linuxianer99 commented on #23
I also have less experience with testing C programs.
But i did some test the last 2 hours:

https://www.wfbsoftware.de/2019/07/18/c-unit-testing-with-cmocka/
https://www.samlewis.me/2016/09/embedded-unit-testing-with-cmocka/

Have the first test running in sensord. (AirDensity functions):

`
#include <stdarg.h>
#include <stddef.h>
#include <setjmp.h>
#include <cmocka.h>

#include "../AirDensity.h"

[2020-05-20 09:14] linuxianer99 opened #28 "Improvements for PR #19"
- Change utils to plain C
- In stf.c check calculations and add comments where theory came from

[2020-05-20 09:31] bomilkar commented on #28
Will do, maybe over the week end.
I'm planning to address https://github.com/Openvario/variod/issues/20 at the same time.
OK?

@kedder : FYI

[2020-05-20 09:57] linuxianer99 commented on #28
@bomilkar :
Please address only one issue per PR !!
Please break down the commits in nice small reviewable pieces !

We want to improve this ;-)

[2020-05-21 08:38] #28 closed

[2020-05-21 18:51] bomilkar commented on #20
@linuxianer99 : I'll start working on this. Do you think I can do this in 1 commit and PR?
I'll be a substantial change for nmea_parser.c  and those require changes in variod.c to call the parser for each sentence at a time.
I don't see how I can separate those changes.

[2020-05-23 09:20] bomilkar commented on #20
For the most part addressed with https://github.com/Openvario/variod/pull/30

[2020-06-08 09:43] sascha-daehne commented on #16
Ok, i checkt the IAS at my next flight and it indeed shows 460kph. Nice but not true. At my second flight (removing the panel in between) I saw the correct value at IAS and the STF works. So i close this issue. It seems related to the sensors or the pneumatic connection in my glider.

[2020-06-08 09:43] #16 closed

[2020-07-19 18:22] hpmax opened #31 "Floating point vs Fixed Point"
Looking through the code, it appears there's a lot of highly repetitive code (like for synthesizing the waveform) which uses floating point numbers, for things that could probably work just as well for fixed point.  Hopefully that should make it run faster and with less power consumption.  Anyone have comments on this?

[2020-07-23 14:31] kedder commented on #31
I don't think it is worth changing without some real measurements. Would you be able to detect any change in power consumption if you remove that repetitive code completely?

[2020-07-23 14:59] hpmax commented on #31
I believe I properly optimized waveform synthesis while retaining floating point.  Audio seemed unaffected, unfortunately so did the reported CPU utilization.  So I'm not optimistic that switching to fixed point would yield much further improvement.  Even so, I might be wrong and see no downside to my changes.

I'll branch it and people can take a look and see if the changes look better.  With one

[2020-07-23 17:45] hpmax commented on #31
I set up a pull request on the code changes I made.  Feel free to look it over.

[2020-10-04 06:27] hpmax opened #33 "Clicks and Pops"
The audio amplifier on my OV died.  I replaced it and found that you'd occasionally hear clicks and pops, typically at the "end" of a tone.  I was speaking to Stefan and he said he believed it was a software issue.  I suspect he may be correct.  Looking at the code, it appears the output goes to zero immediately upon going mute or being within the deadband.  I may be misreading the code, but I wou

[2020-10-07 19:58] hpmax commented on #33
I made some code changes which do the following:

1) The triangular waveform is shifted by 90 degrees, that is it's at 0 when phase_ptr is 0.

2) Instead of running from 0 to 2 *pi it now goes from 0 to 4, this wasn't necessary but it simplifies the math and makes things a little cleaner.  The triangle function is simplified such that:

if (phase_ptr>3) return phase_ptr-4;
if (phase_ptr>1) return

[2020-10-09 17:49] #33 closed

[2020-10-11 04:20] hpmax commented on #31
Okay, I've done some actual measurements on it.  First off, I can tell you floating point divides are awful, they are about 5x worse than floating point multiplies.  Interestingly, I can't tell floating point multiplies are worse than floating point add/subtract.  But floating point if's don't seem too great.  Besides that, it's surprisingly hard to benchmark this stuff, because the compiler is op

[2020-10-11 04:52] hpmax opened #35 "Volume and Polar"
Looking at the code, it appears that volume always starts up at 50% and XCSoar cannot command a particular volume, only up/down 10%.  There is no way to override this in the config file.  It seems like this should be configurable in the variod.conf file but isn't.

It also seems like XCSoar should push a specific value (not just up/down) on boot up or whenever the volume is changed.  I'm not sure

[2020-10-11 07:46] kedder commented on #31
I feel like it is not worth it, unless it provides some benefits (like performance or better code readability / maintainability). It doesn't look like anyone could notice the performance improvement. So unless it makes code easier to understand, I'd not touch it.

[2020-10-11 07:50] kedder commented on #35
Maybe it should simply remember the last-set volume? "Pushing on startup" is brittle, because you don't know if anything is actually listening for your "pushes" at that moment in time. Also, xcsoar has no idea when that "something" restarts and loses data it has  "pushed".

[2020-10-11 13:44] hpmax commented on #31
My "unreleased optimized code" is a little harder to read, but I added documentation which I think should more than make up for it.  The main issue is I added a few variables (for example pulse_risei in addition to pulse_rise, where pulse_risei = 1/pulse_rise).

The fixed point conversion is limited to the inner loop where it makes the most difference which means I have a few parallel integer vari

[2020-10-11 13:52] hpmax commented on #35
I agree with you about the "actually listening" problem.  I feel like it would be nice to re-write the interface between variod and xcsoar to get an acknowledge as well as a few additional functions, but that's a bit beyond the scope of this at the moment.

Any thoughts on how to "remember" the last-set volume, but I don't want to write on every volume change.  Maybe a write on shutdown, but that

[2020-10-11 14:27] kedder commented on #35
Why not?

[2020-10-11 18:22] hpmax commented on #35
Isn't that hard on the FLASH?

[2020-10-11 18:26] kedder commented on #35
It shouldn't be. XCSoar does a write every second (or so). Also, OS typically buffers writes, so that they don't happen immediately on request.

[2020-11-07 12:00] bomilkar commented on #35
This https://github.com/Openvario/variod/pull/19 addresses the issue for Polar (but not for Volume).
It's counterpart on the XCSoar side is this: https://github.com/XCSoar/XCSoar/pull/378.
I guess, there 2 functionalities need to be extended to cover Volume. Right?

Here is what happens between variod and XCSoar when variod starts after XCSoar is up and running:
Variod sends "$POV,?,RPO*3B"
XCSoar

[2020-11-07 18:11] hpmax commented on #35
I'm good with that solution.  What needs to be done to make that happen?  Does something need to happen in XCSoar as well?

As a side note...  And I didn't read through the entire ticket, I'd like to suggest the following:

Any control messages (in either direction) should be acknowledged.  If an acknowledgement isn't received the sender should re-send periodically.

Secondly, there should be an "

[2020-11-08 08:39] bomilkar commented on #35
both sides need some work. For XCSoar it starts in Device/Driver/OpenVario.cpp

Disagree! What would you gain?

There is no need for a "ping".
Your "I"ve just started up, configure me" is implemented: variod sends "$POV,?,RPO,MC,VOL" to ask for the 3 values (VOL to be implemented).
When XCSoar starts it sends these values and whenever they change, too.
What else do you need??

[2020-11-08 10:43] hpmax commented on #35
A ping function would allow (optionally) for XCSoar to act as a watchdog for variod if variod went off the rails, allowing it to kill the job.  Once killed, the OS should automatically re-spawn it, at which point it would ask for configuration info and get reconfigured by XCSoar.

As for why do we need "acknowledgements?"  One obvious example would be if variod boots first and asks XCSoar to confi

[2020-11-08 12:06] bomilkar commented on #35
There are better ways to implement a watchdog timer.

XCSoar sends polar, ballast, McReady, etc. when it starts and these values are already known. It sends these values every time they change. Why should XCSoar care if someone is listening??

[2020-12-22 17:58] hpmax opened #36 "Clicks and Pops and Sound Quality"
My "safeguard" feature was less successful than I had hoped.  I believe what is happening is the speaker has momentum and continues to move even after it's brought back to "rest."  Another possibility is that the capacitive coupling shifts the waveform 90 degrees, therefore the waveform at the speaker is actually at max when I think it should be at 0.

When switching between operating modes (mute/

[2020-12-23 10:04] hpmax commented on #36
I thought I had gotten rid of all the clicks and pops -- looks like I might have been a bit hasty.

I stand behind my previous comments.  Switching modes could (and often will) cause a click/pop.  My code changes eliminate those -- but I am still getting click/pops (which I still think are fundamentally a rapid change in volume).  They are less common, and they often seem to come in pairs. I think

[2020-12-23 17:54] hpmax commented on #36
And, I think I've solved all the clicks and pops...  I can confirm that my revised code is definitely fixing most of them.  The other source of problems was pulseaudio itself.  I killed pulseaudio and restarted and everything worked much better.  Pops are gone, and the frames_n number is far more stable.

I strongly suspect there is a link between this and the issue I found with sensord, where the

[2021-02-16 16:09] eku60 opened #39 "Sound problems when switching between Vario and STF mode"
Hello,

I have created an issue on sensord, but found that soundproblems are discussed here. Maybe ist is better placed here?
When switching from vario mode to stf mode sound disappears. When switching back to vario mode you can hear soom crack in the speaker.
You will have to restart XCSoar or to deactivate and activate the openvario connection in NMEA-menu to get vario sound again.
Switvching wo

[2021-02-16 16:46] eku60 commented on #39
Update: Tested image 20309. Switching works, the problem seems to be newer.

[2021-02-19 07:24] hpmax commented on #39
It was a remarkably stupid bug...  It's fixed now in hpmax/variod.  I am putting in a PR.

[2021-03-07 05:55] hpmax opened #41 "Improved NMEA Parser"
I put an update into my fork of variod.  I'd like some people to try testing before I do a PR.

This update makes a few improvements:

1) Support is added to the NMEA extension syntax as defined by @bomilkar to query the status of some vario functionality (Polars, MacCready, Bugs, Wingloading).
2) This support is now bi-directional.  Variod will query XCSoar for this information on startup and eve

[2021-03-07 07:16] bomilkar commented on #41
I'd like to point to #14 and #20 .

[2022-02-25 14:59] #39 closed

[2022-07-18 19:11] morihab opened #45 "Load polar to variod"
Hi there,
I am trying to load the right polar into variod. What I did is I defined the lines

[code]

in the openvario.xci file to load the factors a, b, c into variod. I don't know if this is the right way to do it. However, I don't even understand the factors a, b and c. The way I read the stf.c file they should give the rate of sink according to

`rate_of_sink = a*IAS² + b*IAS + c`

with the un